html,body {
    margin: 0;
    background-image: url("esiea.jpg");
    background-size: cover;
}
header {
    background-color: white;
    padding: 10px;
    text-align: center;
    border-top: 5px solid black;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
}
h1 {
    margin: 0;
}
nav {
    background-color: white;
    margin-top: 60px;
}
.nav {
    display: flex;
    justify-content: center;
}
.nav a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-family: sans-serif;
}
.nav a:hover{
    background-color: gray;
    color: white;
}
.section {
    text-align: center;
}

.section a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-welcome {
    text-align: center;
    background-color: white;
}
.esiea-section {
    position: relative;
    background-image: url("esiea-section.jpg");
    height: 300px;
    width: 100%;
}
.first-section{
    text-align: center;
    height: 350px;
    background-color: white;
    font-family: sans-serif;
    font-family: sans-serif;
}
.cv-section {
    text-align: center;
}
.button {
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    padding: 5px;
    margin-top: 30px;
}
.button:hover {
    background-color: gray;
    color: white;
  }